body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";

}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Title section */

#title {
  background-color: #ff4c68;
  color: #fff;

}


/* title image */
.iphone {
  width: 110%;
  top: 10px;

  transform: rotate(18deg);
  position: absolute;
  right: 10%;
}

@media (max-width:999px) {

  #title {
    text-align: center;
  }

  .iphone {

    position: static;
    left: 5%;
    transform: rotate(0);

  }
}


/* navigation bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* download button */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Features section */
#features {
  padding: 7% 8%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
}

.feature-title {

  font-size: 1.5rem;

}

.feature-box {

  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10% 2% 10% 10%;
}

#testimonials {

  background-color: #ef8172;
  color: #fff;
  text-align: center;

}

.carousel-item {
  padding: 7% 13%;
}

/* press section */

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */



#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


.section-heading {
  font-size: 3rem;
  line-height: 1.5;

}

.pricing-column {
  padding: 3% 3%;
}

/* .pricing-header {
  padding: 1% 2%;
 
} */

/* Call to Action  */


#cta {
  padding: 7% 13%;
  background-color: #ff4c68;
  color: #fff;

  text-align: center;

}


/* footer */
#footer {

  text-align: center;
  padding: 7% 13%;
  background-color: #fff;


}


.social-icon {
  margin: 20px 10px;
}